<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>busAR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Utiliza el botón "Capturar" para localizar las paradas de autobús más cercanas.</p>
  <button ion-button (click)="startAR()" block large>Capturar</button>
  
</ion-content>
