<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
</ion-header>

<ion-content id="ezarContent" [style.backgroundColor]="color" padding>
  <h3>Camera Page</h3>
</ion-content>